.Header-navBar {
  padding: 1em 2em 1em 1em;
  background-color: #931026
}



.Header-navBar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2em;
}

.Header-navBar > ul > li {
  display: inline;
  cursor: pointer;
}

.Header-navBar > ul > li > h1 > a {
  text-decoration: none;
}

.Header-navBar-titulo > a{

  color: #FEFF67;
  text-shadow:#000 -2px -2px;
  font-size: 1em;
}



.Header-navBar-imgTV {
  width: 2.6em;
}


.Header-navBar-imgPesquisar {
  width: 1.5em;
}

.Header-pesquisa {
  margin-top: 1em;
  display: flex;
  justify-content: center;

  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.Header-pesquisa > input {
  padding: 1em;
  width: 15em;
  height: 1em;
  border: none;
  border-radius: 10px;
}