* {
  margin: 0;
  padding: 0;
  
}

@font-face {
  font-family: 'Fjalla';
  src: url(./assets/fonts/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: 'Cabin' ;
  src: url(./assets/fonts/Cabin-Regular.ttf);
}

body {

  font-family: 'Cabin', 'Courier New', Courier, monospace;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202523;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}