.Home-container {
  display: flex;
  overflow-y: hidden;
}

.Home-populares {
  display: flex;
  flex-direction: column;
  text-align: center !important;
  align-items: center;
  margin: 1em 0.5em 1em 0.5em;
  width: 120px;
}

.Home-populares > a > img {
  border-radius: 10px;
}

.Home-populares > a {
  text-decoration: none;
}

.Home-minhas-series {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, auto));
}

.Home-titulos {
  display: flex;
  align-content: center;
  color: #d9da7d;
  padding: 0.5em;
}

.Home-ico {
  width: 1.2em;
}

.Home-titulo-null {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-ico-null {
  width: 5em;
}

